/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@font-face {
    font-family: 'FluxisheElse';
    font-weight: normal;
    src: url('../css/fonts/FluxischElse-Bold.woff') format('woff');
}

p, h1, h2, h3, button {
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    --off-white: #FFE6C2;
    --purple: #65008a;
    --orange: #c94700;
    --red: #db000b;
    --pink: #C70074;
    --blue: #0027a8;
    --lav: #8a98dc;
}

body {
  display: grid;
  place-items: center;
  /*height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: hidden;
  font-family: 'FluxisheElse', sans-serif;
  background-color: white;
  font-size: 20px;
  color: var(--lav);
}

#container {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  display: grid;
  place-items: center;
  /*height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}

#quote {
  cursor: pointer;
  width: 70%;
  font-size: .9em;
  background-color: var(--lav);
  border-color: white;
  border-style: solid;
  border-width: 2px;
  padding: 1.5em;
  color: white;
}

#attribution {
  background-color: white;
  border-color: var(--lav);
  border-style: solid;
  border-width: 2px;
  color: var(--lav);
  padding: .5em;
  position: fixed;
}

#logo {
  position: fixed;
  width: 3em;
  height: 3em;
  padding: .5em;
}

#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  filter: brightness(0.7);
  image-rendering: pixelated;
}

/*
video {
  opacity: 0;
  width: 0px;
  height: 0px;
}
*/
canvas {
  position: fixed;
  /* This will stretch the canvas to fill the page */
  width: 100%;
  height: 100%;
  /* This will turn off antialiasing when the canvas gets stretched */
  /* We need all of these for it to work cross-browser */
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  /* This makes the canvas behave like `background-size: cover` */
  object-fit: cover;
  z-index: -100;
}

#links {
  position: fixed;
  padding: .5em;
  right: 0px;
  text-align: right;
}

#bio, #contact {
  cursor: pointer;
  text-decoration: underline;
}

#content-main {
  text-align: center;
  width: 60%;
  height: auto;
  /*background-color: var(--red);*/
}

#content-bio {
  text-align: left;
  font-size: 1em;
  padding: 1.5em;
  width: 60%;
  height: auto;
  color: white;
  background-color: var(--lav);
}

#content-bio a {
  color: white;
}

#content-contact {
  text-align: center;
  padding: 1.5em;
  width: 80%;
  height: auto;
  color: var(--lav);
}

#content-contact a {
  color: var(--lav);
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 1em;
}

a {
  color: var(--lav);
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440


audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
*/

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    h1 {
      font-size: 5em;
    }
    h3 {
      font-size: 1.5em;
    }
    #quote {
      font-size: 1em;
    }
    #content-bio {
      font-size: 1em;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
